syn/zx_wxeda.asm.rpt
syn/zx_wxeda.done
syn/zx_wxeda.fit.rpt
syn/zx_wxeda.fit.smsg
syn/zx_wxeda.fit.summary
syn/zx_wxeda.flow.rpt
syn/zx_wxeda.jdi
syn/zx_wxeda.map.rpt
syn/zx_wxeda.map.smsg
syn/zx_wxeda.map.summary
syn/zx_wxeda.pin
#syn/zx_wxeda.sof
syn/zx_wxeda.sta.rpt
syn/zx_wxeda.sta.summary
source/db
syn/db/*
syn/greybox_tmp
syn/greybox_tmp/*
syn/incremental_db
syn/incrementa_db/*
syn/zx_wxeda.map
syn/zx_wxeda.qws
